@font-face {
    font-family: s1;
    src: url(../fonts/Dosis-Regular.otf);
}
@font-face {
  /*  font-family: s2;
    src: url(../fonts/bold.ttf);*/
}
@font-face {
    font-family: s3;
    src: url(../fonts/digital.ttf);
}
body {
  margin-top: 50px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: s2;
}
td{
  font-family: sans-serif;
}
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 99%;
  padding: 5px 15px;
}
a:hover{
  text-decoration: none!important;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 230px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */
.add-class{left:-250px !important;}
  .side-nav {
	/*margin-left: -225px;
	left: 225px;*/
	width: 230px;
	position: fixed;
	top:70px;
	height: 100%;
	border-radius: 0;
	border: none; background:#2670a0;
/*	background-color: #222222;*/
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: #f5911d;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #fff;
	padding: 10px 15px 10px 20px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #080808;
  }

  .side-nav>li>a {
	padding:15px 1px 15px 9px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }

}

/*--===========29-4-2017 Search ===============--*/
.m-top{ margin-top:15px;}
.padd-top{ padding-top:30px;}
#search {
    float: right;
    margin-top: 9px;
    width: 100%;
}

.search {
    padding: 5px 0;
    width: 100%;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 100%;
        float: Left;
		 background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;

     /*   margin-left: 10px;*/
       /* -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;*/

    }

        .search:hover input, .search input:focus {
            width:100%;
            margin-left: 0px;
        }

.search .btn {
    height: 35px;
    position: absolute;
    right: 0;
    top: 5px; font-size:16px;
    border-radius:1px;
}
.navbar-inverse{ background:#2670a0; border:none !important;}
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-inverse .navbar-nav > li > a i{ color:#fff;}
.navbar-inverse  .navbar-nav > li > a { line-height:40px;}
.navbar-inverse .navbar-nav > .dropdown > a .caret{border-bottom-color:#fff;border-top-color:#fff;}
.side-nav li{
  border-top: 1px solid #fff;
  line-height: 25px;
  display: block;
  width: 100%;
}
.side-nav > li > a{ line-height:25px !important;}
.min-h{ min-height:480px; overflow:hidden;}
.navbar-brand{padding:0px 8px;}
/*=====*/
.table-responsive_xl {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

/*--============responsive css section===========-----*/
@media only screen and (max-width: 359px) and (min-width: 320px){
.vertical_menu{
    position: absolute;
    width: 230px;
    margin-top: 70px;
    height: 189px;
    left: 0;
    background: #2670a0;
    border-top:1px solid #fff; display:none!important;
}
.mobile_nav{ display:block!important;}
}
@media only screen and (max-width: 479px) and (min-width: 360px){
.vertical_menu{
    position: absolute;
    width: 230px;
    margin-top: 70px;
    height: 189px;
    left: 0;
    background: #2670a0;
    border-top:1px solid #fff; display:none!important;
}
.mobile_nav{ display:block !important;}
.table-resposive{ overflow:scroll;}
}
@media only screen and (max-width: 767px) and (min-width: 480px){
.vertical_menu{
    position: absolute;
    width: 230px;
    margin-top: 70px;
    height: 189px;
    left: 0;
    background: #2670a0;
    border-top:1px solid #fff; display:none!important;
}
 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color:#fff !important;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    padding: 0;
    position: static;
    width: auto;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; padding:10px 10px; border-top:1px solid #fff;
}
.mobile_nav{ display:block!important;}
.table-resposive{ overflow:scroll;}
}
/*----=======sidebar vertical css====----*/
.vertical_menu{
    position: absolute;
    width: 230px;
    margin-top:60px;
    height: 189px;
    left: 0;
    background:#2670a0;
    border-top:1px solid #fff;
}
.vertical_menu .sidebar-toggler {
    position: absolute;
    right: 0;
    z-index: 999999999999999;
    top: 0;
    margin-left: 0;
    border-radius: 15px 0 0px 15px;
    cursor: pointer;
    margin-top: 6px;
    display: block;
    margin-top: 2px;
    width: 30px;
    height: 28px;
    background: #fff;
}
.vertical_menu .sidebar-toggler:before {
    margin: -2px 2px 7px 8px;
    display: block;
    font-size: 22px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color: #000;
}
.side-nav{
  margin-top:25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.slidemenu{padding-left: 0!important;transition:all 0.5s;}
.slidemenu .vertical_menu {width: 0!important;transition:all 0.5s;}
.slidemenu .sidebar-toggler{right: -30px;border-radius: 0 15px 15px 0;background: #2670a0}
.slidemenu .sidebar-toggler:before{ content: '\f105';color: #fff;}
.slidemenu .adminleftpanel{width:0;}
.mobile_nav{ display:none;}
.headerClock {text-transform:uppercase;position: absolute;right: 125px;margin:20px 0 0 0;color: #fff;font-size:14px}
/*.headerClock #headerDate{float:left;margin-right:0px;}*/
.headerClock #headerTime{float:left;margin-right:5px;margin-top: 17px}
/*.useraddform table,.useraddform tr,.useraddform th,.useraddform td{border:none!important;}*/
.useraddform table label{line-height: 34px;margin: 0;font-size: 15px; font-weight:600 !important;}
/*.useraddform table td{text-align: right}*/
.userpanel .blocks
{
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: #fff;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.c1{color: #080963;}
.c2{color: #FF6D00;}
.c3{color: #00695C;}
.c4{color: #8E24AA;}
.dashboard .icon{
  position: absolute;
  right: 30px;
  top: -15px;
  font-size: 80px;
}
.dashboard .bg-D84315{
  background: #D84315;
  color:#fff;
}
.dashboard .bg-8E24AA{
  background:#8E24AA;
  color:#fff;
}
.dashboard .bg-00695C{
  background:#00a792;
  color:#fff;
}
.navbar .nav > li > a{
  padding: 10px;
}
#clock {
    font-size: 40px;
    font-family: s3;
    text-align: center;
}
.clock {
    font-family:s3;
    text-align: center;
    font-size: 24px;
}
.font5 {
    font-family: s1;
    font-size: 22px;
}
.t1 {
    color: #D84315;
}
.t2 {
    color: #8E24AA;
}
.t3 {
    color: #00695C;
}
.t7 {
    color: #FF6D00;
}
.dashboard .blocks{
  font-size: 15px;
}

#clock {
    font-size: 40px;
    font-family: s3;
    text-align: center;
}
.blox {
    font-size: 13px;
    font-family: Verdana;
    padding: 8px 0;
}
.popo {
    font-size: 20px !important;
}
.blox h4 {
    font-size: 16px;
}

.blox span {
    font-size: 20px;
    font-family: s1;
}